@use "variables" as var;

body {
    margin: 0;
    background-color: #e4f4ff;
    color: var.$primary-blue;

    header{
        background-color: #dbeefa;
        img.logo{
height:75px;
            }
            a.nav-link{
                font-size: larger;
                font-weight: 500;
                &:hover{
                    color: var.$gold-line !important;
                }
            }
        }
            h2, h3{
                text-decoration: underline 2px var.$gold-line;
            }

            i {
              
              transition: color 0.2s linear;
              
              
              }

            .icon{
                font-size:xx-large;
                padding: 5px;
                &:hover{
                    color: var.$hover-blue;
                }
            }
            #bild_alexandra{
                width: 100%;
            }
            #taco{
                width: 100%;
            }
            #brasil{
                width: 100%;

            }
        
}
footer{
    .cat{
        width: 20vw;
        transform: translateY(6px);
        @media screen and (min-width:768px) {
            transform: translateY(20px);
            
        }
    }
}
